/* Your Website Styles */

/***********
GENERAL
************/

body{
	background: #999999;
}

.container{
	background: linear-gradient(#999999, #666666), #666666;
}

h1, 
h2, 
h3,
h4 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #666666;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	margin: 0;
}

li{
	color: #666666;
	list-style: none;
}

/***********
TITLE SECTION
************/
.heading{
	background: #EAA3FF;
}

/***********
NAVIGATION
************/
nav{
	background: #F7A153;
}

/***********
CONTENT
************/
h3{
	display: inline-block;
	background: #95DD66;
}
h4{
	background: #95DD66;
}
article{
	background: #E6E6E6;
}

/***********
LINKS
************/
a{
	color: #666666;
	text-decoration: none;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}