/***********
GENERAL
************/

body{
	background: #999999;
}

.container{
	background: linear-gradient(#999999, #666666), #666666;
}

h1, 
h2, 
h3,
h4 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #666666;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	margin: 0;
}

li{
	color: #666666;
	list-style: none;
}

/***********
TITLE SECTION
************/
.heading{
	background: #EAA3FF;
	height: 100%;
}

.heading img{
	margin: 10px 0 0 50px;
}

.heading h2 {
	margin: 0 0 0 285px;
}

/***********
NAVIGATION
************/
.navbar{
	background: #F7A153;
	height: 4em;
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
}

nav{
	background: #F7A153;
	width: 1000px;
	text-align: center;
	display: block;
	position: relative;
	margin: auto;
}

nav ul{
	margin: 20px;
}

nav li{
	float: left;
	position: relative;
	list-style: none;
	font-size: 1.5em;
}

nav a{
	padding: 20px 30px 16px 30px;
	margin: 0 10px;
}

nav a:hover{
	background: #EAA3FF;
}

/***********
CONTENT
************/
.articles,
.about, 
.contact{
	margin: 20px;
}

h3{
	display: inline-block;
	background: #95DD66;
	padding: 10px 30px;
	margin: 10px;
}
h4{
	background: #95DD66;
	display: inline-block;
	padding: 10px;
	margin: 5px;
}
article{
	background: #E6E6E6;
	margin: 10px;
}

/***********
LINKS
************/
a{
	color: #666666;
	text-decoration: none;
}

footer{
	background: none;
	color: #E6E6E6;
	font-size: .5em;
	text-align: center;
	float: center;
	padding: 20px;
}

/***********
MEDIA QUERIES
************/
@media screen{

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}