/* Your Website Styles */

/***********
GENERAL
************/

body{
	background: #999999;
}

.container{
	background: linear-gradient(#999999, #666666), #666666;
}

h1, 
h2, 
h3,
h4 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #666666;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
}

/***********
TITLE SECTION
************/
.heading{
	background: #EAA3FF;
}


/***********
NEWS SECTION
************/

/***********
LINKS
************/

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}